.green-container{
    background-color: #60BD86;
    padding-bottom: 30px;
}
.purple-container{
    background-color: #8660BD;
}
.logo{
    color: black;
    font-weight: bold;
    
}
.nav-link{
        color: white;
        font-family: "Montserrat", sans-serif;
        font-weight: bolder;
        
    }
    li.nav-item >a{
        color: white;
        font-size: 22px;
        font-weight: bolder;
    }
    p.lead{
        color: white;
        font-weight: bold;
    }
    img.daksh_image{
        border-radius: 50%;
    }
    h2.display-5{
        color: #60BD86;
    }
    #card_flex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    div.card{
        height: 350px;
        width: 300px;

    }
    div.card-body{
        flex: 1 1 auto
    }
    a.btn{
        background-color:aqua;
    }
    div.grid-parent{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: repeat(2,0.5fr);
    }
    img.cat-typing{
        justify-content: end;
    }
    h2.skills{
        color: black;
    }

    span.contact{
        font-size: 2rem;
    }
     @media(max-width:992px){
           namaste{
            text-align:center;
            font-size: medium;
           } 
          
           #about{
            justify-content: center;
           }
           img.daksh_image{
            height:200px;
            align-items: center;
           }
           h1.namaste{
            font-size: 20px;
            text-align: center;
           }
           p.lead{
            text-align: center;
            font-size: 10px;
           }

           h2.h2_project{
            text-align: center;
           }
           #card_flex {
            
            flex-direction:column;

           }
           
        } 
    